.App {
  text-align: center;
}

/* //theming */
.btn-tomato {
  background-color: tomato;
  color: white;
  border-radius: 1em;
  padding: 0.65em;
  border: none;
  text-transform: uppercase;
}
.btn-tomato:hover {
  background-color: white;
  color: tomato;
  border: solid 1px tomato;
}
.fas.fa-code {
  color: tomato;
}