.App {
  text-align: center;
}

/* //theming */
/* .btn-tomato {
  background-color: tomato;
  color: white;
  border-radius: 10rem;
}
.btn-tomato:hover {
  background-color: white;
  color: tomato;
}
.btn-xxl {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
}  */
.fas.fa-code {
  color: tomato;
}